#home-main{
    background-image: url('https://i.imgur.com/TnI0NpW.png');
    background-size: 100%;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    h1 {
        margin-top: 25px;
    }
}

#home-page {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.posts-map{
    width: 550px;
    margin: 30px;
}