@mixin input-field {
    width: 159px;
    height: 21px;
    font-family: Arial, sans-serif;
    color: darkgrey;
    background : rgba(255, 255, 255, 1);
    border-style : Solid;
    border-color : rgba(235, 235, 235, 1);
    border-width : 2px;
    width : 159px;
    height : 21px;
}

.form-2 {
    display: block;
    text-align: center;
}

.input-field {
    @include input-field;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.login-button {
    background : rgba(204, 0, 0, 1);
    color: white;
    border-style : Solid;
    border-color : rgba(235, 235, 235, 1);
    border-width : 2px;
    width : 165px;
    height : 27px;
    padding: 1px;
    margin: 5px 0px;
}